In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

X = [[12,    30,    80,  -100],
     [-1000, 12,    -23,  10],
     [14,    1000,  0,    0]]

In [4]:
scaller = StandardScaler()

X_scalled = scaller.fit_transform(np.asarray(X))

In [5]:
data = pd.DataFrame(X_scalled)

In [7]:
data.describe().round(2)

          0     1     2     3
count  3.00  3.00  3.00  3.00
mean   0.00  0.00  0.00  0.00
std    1.22  1.22  1.22  1.22
min   -1.41 -0.73 -0.95 -1.41
25%   -0.35 -0.71 -0.69 -0.40
50%    0.71 -0.69 -0.43  0.60
75%    0.71  0.36  0.48  0.70
max    0.71  1.41  1.38  0.81

In [11]:
data.round(2).head()

      0     1     2     3
0  0.71 -0.69  1.38 -1.41
1 -1.41 -0.73 -0.95  0.81
2  0.71  1.41 -0.43  0.60

In [13]:
data.var(ddof=0)

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64